In [1]:
!pip install sqlalchemy==1.3.9

Requirement already satisfied: sqlalchemy==1.3.9 in c:\programdata\anaconda3\lib\site-packages (1.3.9)

WARNING: Ignoring invalid distribution -ml (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -xml (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -andas (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ml (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -xml (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -andas (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ml (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -xml (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -andas (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ml (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -xml (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -andas (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ml (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -xml (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -andas (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ml (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -xml (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -andas (c:\programdata\anaconda3\lib\site-packages)

[notice] A new release of pip available: 22.3.1 -> 23.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
%load_ext sql

In [17]:
import csv, sqlite3

con = sqlite3.connect("my_data2.db")
cur = con.cursor()

In [18]:
!pip install -q pandas==1.1.5

WARNING: Ignoring invalid distribution -ml (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -xml (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -andas (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ml (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -xml (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -andas (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ml (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -xml (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -andas (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ml (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -xml (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -andas (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ml (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -xml (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -andas (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ml (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -xml (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -andas (c:\programdata\anaconda3\lib\site-packages)

[notice] A new release of pip available: 22.3.1 -> 23.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [19]:
%sql sqlite:///my_data2.db

In [20]:
import pandas as pd
df = pd.read_csv(r"https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")

In [21]:
df.to_sql("SPACEXTBL", con)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:2615: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  method=method,

### Task 1
##### Display the names of the unique launch sites in the space mission

In [23]:
%sql SELECT Distinct LAUNCH_SITE FROM SPACEXTBL

 * sqlite:///my_data2.db
Done.

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]

### Task 2
##### Display 5 records where launch sites begin with the string 'CCA'

In [24]:
%sql SELECT * FROM SPACEXTBL WHERE LAUNCH_SITE LIKE 'CCA%' LIMIT 5

 * sqlite:///my_data2.db
Done.

[(0, '04-06-2010', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 (1, '08-12-2010', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 (2, '22-05-2012', '07:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 (3, '08-10-2012', '00:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 (4, '01-03-2013', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

### Task 3
##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [25]:
%sql SELECT SUM(PAYLOAD_MASS__KG_) FROM SPACEXTBL WHERE CUSTOMER='NASA (CRS)'

 * sqlite:///my_data2.db
Done.

[(45596,)]

### Task 4
##### Display average payload mass carried by booster version F9 v1.1

In [26]:
%sql SELECT AVG(PAYLOAD_MASS__KG_) FROM SPACEXTBL WHERE BOOSTER_VERSION='F9 v1.1'

 * sqlite:///my_data2.db
Done.

[(2928.4,)]

### Task 5
##### List the date when the first succesful landing outcome in ground pad was acheived.

In [36]:
#%sql SELECT distinct Landing_Outcome FROM SPACEXTBL
%sql SELECT Distinct Landing_Outcome FROM SPACEXTBL

 * sqlite:///my_data2.db
(sqlite3.OperationalError) no such column: Landing_Outcome
[SQL: SELECT Distinct Landing_Outcome FROM SPACEXTBL]
(Background on this error at: http://sqlalche.me/e/e3q8)

In [34]:
%sql pragma table_info('SPACEXTBL')

 * sqlite:///my_data2.db
Done.

[(0, 'index', 'INTEGER', 0, None, 0),
 (1, 'Date', 'TEXT', 0, None, 0),
 (2, 'Time (UTC)', 'TEXT', 0, None, 0),
 (3, 'Booster_Version', 'TEXT', 0, None, 0),
 (4, 'Launch_Site', 'TEXT', 0, None, 0),
 (5, 'Payload', 'TEXT', 0, None, 0),
 (6, 'PAYLOAD_MASS__KG_', 'INTEGER', 0, None, 0),
 (7, 'Orbit', 'TEXT', 0, None, 0),
 (8, 'Customer', 'TEXT', 0, None, 0),
 (9, 'Mission_Outcome', 'TEXT', 0, None, 0),
 (10, 'Landing _Outcome', 'TEXT', 0, None, 0)]

In [38]:
%sql ALTER TABLE SPACEXTBL RENAME COLUMN 'Landing _Outcome' TO 'Landing_Outcome';

 * sqlite:///my_data2.db
Done.

[]

In [39]:
%sql pragma table_info('SPACEXTBL')

 * sqlite:///my_data2.db
Done.

[(0, 'index', 'INTEGER', 0, None, 0),
 (1, 'Date', 'TEXT', 0, None, 0),
 (2, 'Time (UTC)', 'TEXT', 0, None, 0),
 (3, 'Booster_Version', 'TEXT', 0, None, 0),
 (4, 'Launch_Site', 'TEXT', 0, None, 0),
 (5, 'Payload', 'TEXT', 0, None, 0),
 (6, 'PAYLOAD_MASS__KG_', 'INTEGER', 0, None, 0),
 (7, 'Orbit', 'TEXT', 0, None, 0),
 (8, 'Customer', 'TEXT', 0, None, 0),
 (9, 'Mission_Outcome', 'TEXT', 0, None, 0),
 (10, 'Landing_Outcome', 'TEXT', 0, None, 0)]

In [40]:
%sql SELECT Distinct Landing_Outcome FROM SPACEXTBL

 * sqlite:///my_data2.db
Done.

[('Failure (parachute)',),
 ('No attempt',),
 ('Uncontrolled (ocean)',),
 ('Controlled (ocean)',),
 ('Failure (drone ship)',),
 ('Precluded (drone ship)',),
 ('Success (ground pad)',),
 ('Success (drone ship)',),
 ('Success',),
 ('Failure',),
 ('No attempt ',)]

In [41]:
%sql SELECT min(DATE) FROM SPACEXTBL WHERE Landing_Outcome='Success (ground pad)'

 * sqlite:///my_data2.db
Done.

[('01-05-2017',)]

### Task 6
##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [43]:
%sql SELECT BOOSTER_VERSION FROM SPACEXTBL WHERE PAYLOAD_MASS__KG_ between 4000 and 6000 AND Landing_Outcome='Success (drone ship)'

 * sqlite:///my_data2.db
Done.

[('F9 FT B1022',), ('F9 FT B1026',), ('F9 FT  B1021.2',), ('F9 FT  B1031.2',)]

### Task 7
##### List the total number of successful and failure mission outcomes

In [46]:
%sql SELECT COUNT(*) FROM SPACEXTBL WHERE MISSION_OUTCOME LIKE '%Success%' OR MISSION_OUTCOME LIKE '%Failure%'

 * sqlite:///my_data2.db
Done.

[(101,)]

### Task 8
##### List the names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [47]:
%sql SELECT BOOSTER_VERSION FROM SPACEXTBL WHERE PAYLOAD_MASS__KG_ = (SELECT MAX(PAYLOAD_MASS__KG_) FROM SPACEXTBL)

 * sqlite:///my_data2.db
Done.

[('F9 B5 B1048.4',),
 ('F9 B5 B1049.4',),
 ('F9 B5 B1051.3',),
 ('F9 B5 B1056.4',),
 ('F9 B5 B1048.5',),
 ('F9 B5 B1051.4',),
 ('F9 B5 B1049.5',),
 ('F9 B5 B1060.2 ',),
 ('F9 B5 B1058.3 ',),
 ('F9 B5 B1051.6',),
 ('F9 B5 B1060.3',),
 ('F9 B5 B1049.7 ',)]

### Task 9
##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015

In [49]:
%sql SELECT TO_CHAR(TO_DATE(MONTH("DATE"), 'MM'), 'MONTH') AS MONTH_NAME, \
    LANDING__OUTCOME AS LANDING__OUTCOME, \
    BOOSTER_VERSION AS BOOSTER_VERSION, \
    LAUNCH_SITE AS LAUNCH_SITE \
    FROM SPACEXTBL WHERE LANDING_OUTCOME = 'Failure (drone ship)' AND "DATE" LIKE '%2015%'

 * sqlite:///my_data2.db
(sqlite3.OperationalError) no such function: MONTH
[SQL: SELECT TO_CHAR(TO_DATE(MONTH(DATE), 'MM' ), 'MONTH' ) AS MONTH_NAME, LANDING__OUTCOME AS LANDING__OUTCOME, BOOSTER_VERSION AS BOOSTER_VERSION, LAUNCH_SITE AS LAUNCH_SITE FROM SPACEXTBL WHERE LANDING_OUTCOME = 'Failure (drone ship)' AND DATE LIKE '%2015%']
(Background on this error at: http://sqlalche.me/e/e3q8)

### Task 10
##### Rank the count of successful landing_outcomes between the date 2010-06-04 and 2017-03-20 in descending order.

In [53]:
%sql SELECT DATE, COUNT(LANDING_OUTCOME) as COUNT FROM SPACEXTBL \
     where date BETWEEN '04-06-2010' and '20-03-2017' AND LANDING_OUTCOME LIKE '%Success%' \
     group by date \
     ORDER BY COUNT(LANDING_OUTCOME) DESC

 * sqlite:///my_data2.db
Done.

[('04-06-2020', 1),
 ('05-11-2020', 1),
 ('05-12-2019', 1),
 ('06-05-2016', 1),
 ('06-10-2020', 1),
 ('06-12-2020', 1),
 ('07-01-2020', 1),
 ('07-03-2020', 1),
 ('07-08-2018', 1),
 ('07-08-2020', 1),
 ('07-09-2017', 1),
 ('08-01-2018', 1),
 ('08-04-2016', 1),
 ('08-10-2018', 1),
 ('09-10-2017', 1),
 ('10-09-2018', 1),
 ('11-01-2019', 1),
 ('11-05-2018', 1),
 ('11-10-2017', 1),
 ('11-11-2019', 1),
 ('12-06-2019', 1),
 ('13-06-2020', 1),
 ('14-01-2017', 1),
 ('14-08-2016', 1),
 ('14-08-2017', 1),
 ('15-11-2018', 1),
 ('15-12-2017', 1),
 ('16-11-2020', 1),
 ('17-12-2019', 1),
 ('18-04-2018', 1),
 ('18-07-2016', 1),
 ('18-08-2020', 1),
 ('18-10-2020', 1),
 ('19-02-2017', 1)]